{% extends "::base.html.twig" %}
{% block body %}

    <h1>{{ groupeVideos.nom }}</h1>
    <h2>Description</h2>
    <p>{{ groupeVideos.description }}</p>

    <a href="{{ base_url }}/video/{{ groupeVideos.id }}/add"><i class="material-icons">control_point</i></a>

      <figure id="video_player">
        <video controls poster="nambia1.jpg">
          <source src="{{ asset('/uploads/video/cours/1.1 - aborder-cette-formation-81-rtmp_video_vqxf1khw5hs2016-10-17-19-00-01.mp4') }}" >
        </video>

        <figcaption>
          {% for vid in video %}
          <a href="{{ asset('/uploads/video/cours/' ~ vid.video) }}">{{ vid.nom }}</a> <br>
          {% endfor %}
        </figcaption>
      </figure>

      <script type="text/javascript">
        var video_player = document.getElementById("video_player"),
        links = video_player.getElementsByTagName('a');
        for (var i=0; i<links.length; i++) {
          links[i].onclick = handler;
        }
        function handler(e) {
          e.preventDefault();
          videotarget = this.getAttribute("href");
          filename = videotarget.substr(0, videotarget.lastIndexOf('.')) || videotarget;
          video = document.querySelector("#video_player video");
          video.removeAttribute("controls");
          video.removeAttribute("poster");
          source = document.querySelectorAll("#video_player video source");
          source[0].src = filename + ".mp4";
          video.load();
          video.play();
        }
      </script>

{% endblock %}
