{% extends "::base.html.twig" %}
{% block body %}

    <h1>{{ groupeVideos.nom }}</h1>
    <h2>Description</h2>
    <p>{{ groupeVideos.description }}</p>

    <a href="{{ base_url }}/video/{{ groupeVideos.id }}/add"><i class="material-icons">control_point</i></a>
    <div class="row">
      {% for vid in video %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4>{{ vid.nom }}</h4>
            <p>
              <a href="{{ base_url }}/video/{{ vid.id }}" class="btn btn-primary" role="button">Voir la video</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}
