{% extends "::base.html.twig" %}
{% block body %}


    <h1>{{ groupeVideos.nom }}</h1>
    <h2>Description</h2>
    <p>{{ groupeVideos.description }}</p>
    <div class="row justify-content-end">
      <div class="col-1">
        <a href="{{ base_url }}/video/{{ groupeVideos.id }}/add"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></a>
      </div>
    </div>
      <div id="video_player">
        <video controls>
          {% for vid in video|slice(0,1) %}
            <source src="{{ asset('/uploads/video/cours/' ~ vid.video) }}">
          {% endfor %}
        </video>

        <div class="list-group">
          {% for vid in video %}
            <a href="{{ asset('/uploads/video/cours/' ~ vid.video) }}" class="list-group-item list-group-item-action list-actif">{{ vid.nom }}</a>
          {% endfor %}
        </div>
      </div>



      <script type="text/javascript">
        var video_player = document.getElementById("video_player"),
        links = video_player.getElementsByTagName('a');
        for (var i=0; i<links.length; i++) {
          links[i].onclick = handler;
        }
        function handler(e) {
          e.preventDefault();
          videotarget = this.getAttribute("href");
          filename = videotarget.substr(0, videotarget.lastIndexOf('.')) || videotarget;
          video = document.querySelector("#video_player video");
          source = document.querySelectorAll("#video_player video source");
          source[0].src = filename + ".mp4";
          video.load();
          video.play();
        }
      </script>

{% endblock %}
