{% extends "::base.html.twig" %}
{% block body %}
<div class="row justify-content-end">
  <div class="col-1">
    <a href="{{ base_url }}/videos/add"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
  </div>
</div>
<div class="row">
    {% for vid in groupeVideos %}
        <div class="card col-3 bg-light mb-3">
          <div class="row justify-content-end">
              <a href="#"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
              <a href="{{ base_url }}/videos/{{ vid.id }}/delete"><i class="fa fa-times fa-2x" aria-hidden="true"></i></i></a>
          </div>

          <a href=""{{ base_url }}/videos/{{ vid.id }}"">
           <img class="card-img-top" src="{{ vich_uploader_asset(vid, 'imageFile') }}" alt="{{ vid.nom }}">
          </a>
            <div class="card-body">
              <h4>
                {{ vid.nom }}
              </h4>
              <p class="card-text">
                {{ vid.description }}
              </p>
                  <a href="{{ base_url }}/videos/{{ vid.id }}" class="btn btn-primary btn-block" role="button">Voir les vidéos</a>
            </div>
        </div>
    {% endfor %}
</div>
{%endblock%}
