{% extends "::base.html.twig" %}
{% block body %}
<div class="row justify-content-end">
  <div class="col-1">
    <a href="{{ base_url }}/videos/add"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
  </div>
</div>
<div class="row">
    {% for vid in groupeVideos %}
        <div class="col-sm-6 col-md-4">
            <div class="caption">
              <h2>
                {{ vid.nom }}
              </h2>
              <p>
                {{ vid.description }}
              </p>
                  <a href="{{ base_url }}/videos/{{ vid.id }}" class="btn btn-lg btn-primary" role="button"><i class="fa fa-file-video-o" aria-hidden="true"></i></a>

                  <a href="{{ base_url }}/videos/{{ vid.id }}/delete" class="btn btn-secondary btn-lg" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
        </div>
    {% endfor %}
</div>
{%endblock%}
