{% extends 'base.html.twig' %}
{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="row bandeauProfile">
  <div class="mx-auto align-self-center">
    <img src="{{ asset('/uploads/images/profil/genrique.png') }}" alt="" class="rounded-circle">
  </div>
</div>
<div class="row">
  <div class="infoProfile">
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
  </div>
</div>
{% endblock %}
